@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
}

.logo{
    height: 25px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    box-shadow: 4px 11px 38px -14px rgba(0,0,0,0.47);
}

ul{
    list-style: none;
    display: flex;
}

nav span{
    display: flex;
    align-items: center;
    width: 45%;
}

.primary-links{
    margin-left: 20px;
    width: 80%;
    justify-content: space-between;
}

.secondary-links{
    width: 40%;
    justify-content: space-between;
}

#menu,#cart{
    display: none;
}

.hero{
    height: 95vh;
    width: 100%;
    background-image: url(./images/img1.webp);
    background-size: cover;
    background-position: center;
}

.hero .text-section{
    padding: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-section h1{
    font-size: 38px;
    color: white;
    font-weight: 400;
}

.text-section h3{
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.text-section p{
    color: #fff;
    margin-bottom: 20px;
}

.notify-btn{
    height: 40px;
    width: 200px;
    border: none;
}
@media(max-width:768px){
   
.hero{
    width: 100%;
    height: 100vh;
}
.hero .text-section{
    padding:4em;
}
.text-section h1{
font-size: 40px;
}
}

/* @media(min-width:768px) and (max-width:990px){
   .text-section h1{
font-size: 50px;
 
} 
} */
/* @media(min-width:990px) and (max-widtgh)

/* new product */
.new-product{
    padding: 50px;
    background-color: aliceblue;
    height: 90vh;
    display: flex;
} 
.new-product-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.new-product-image{
    width: 65%;
}

.new-product-image img{
    height: 400px;
}

.new-product-text h1{
    font-size: 40px;
    font-weight: 300;
}

.new-product-text p{
    font-size: 14px;
    margin-bottom: 20px;
}

.new-product h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.buy-btn{
    height: 35px;
    width: 210px;
    background-color: black;
    color: #fff;
    border: none;
}

.learn-btn{
    height: 35px;
    width: 210px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.new-product-text img{
    display: none;
}


.trending-products{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trending-card{
    height: 300px;
    width: 590px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F8F8F8;
}

.trending-card img{
    height: 280px;
}

.trending-text-section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trending-text-section h1{
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 20px;
}

.trending-text-section h2{
    font-size: 20px;
    font-weight: 500px;
    margin: 10px 0px;
}


.trending-text-section h3{
    font-weight: 500;
    margin-bottom: 10px;
}
.trending-products .trending-card .trending-text-section .learn-btn{
    width: 120px;
    height: 35px;
    background-color: black;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    margin-right: 10px;
    transition: all ease-in-out 0.3s;

}
.trending-products .trending-card .trending-text-section .buy-btn{
width: 120px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid black;
    transition: all ease-in-out 0.3s;
}

.hot-products{
    padding: 100px;
}

.hot-picks-categories li{
    margin-right: 30px;
    margin-bottom: 20px;
}

.hot-products h3{
    margin-bottom: 20px;
    font-weight: 400;
    border-bottom: 1px solid rgb(197, 197, 197 , 0.5);
    padding-bottom: 20px;
}

.hot-picks-categories li:first-child{
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}

.hot-products-container{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}



.hot-product-card{
    min-height: 400px;
    padding: 5px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hot-product-card h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.discount-caption{
    color: red;
    margin-bottom: 5px;
}

.emi-caption{
    margin-bottom: 10px;
}

.hot-product-card .buy-btn{
    width: 100%;
}

.product-thumb{
    background-color: #F8F8F8;
    height: 250px;
    background-position: center;
    background-size: cover;
    transition: all ease-in-out 0.3s;
   
}


#CE_TWO{
    background-image: url(./images/img5.png);
}

#TEN_PRO{
    background-image: url(./images/img6.png);
}

#TV{
    background-image: url(./images/img7.png);
}

#WATCH{
    background-image: url(./images/img8.png);
}

.product-thumb:hover{
    background-size: 125%;
    
}
.innovation{
    background-color: black;
    color: #fff;
    padding: 50px;
}

.innovation h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.innovation h1{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}

.innovation h1 a{
    text-decoration: none;
    color: red;
    font-weight: 400;
}


.innovation-box{
    display: flex;
    flex-wrap: wrap;
}

.innovation-image{
    padding: 10px;
}

.innovation-image img{
    height: 380px;
}

.innovation-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innovation-text p{
    font-size: 14px;
    margin-bottom: 20px;
}

 .innovation .innovation-text .learn-link{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.innovation-text img{
    display: none;
}
.Featuring{
    background-color: black;
    color: #fff;
    padding: 50px;
}
.Featuring h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}
.Featuring h1{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}
.Featuring h1 a{
    text-decoration: none;
    color: red;
    font-weight: 400;
}

.feature-content{
     display: flex;
     justify-content: center;
     justify-content: space-between;
}
.featuring-box{
    display: flex;
    flex-wrap: wrap;
}

.featuring-image{
    padding: 10px;
}

.featuring-image img{
    height: 410px;

}

.featuring-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featuring-text p{
    font-size: 14px;
    margin-bottom: 20px;
}
.featuring-text span a{
    color: white;
}

 .Featuring .feature-content.featuring-text.learn-link{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
   
}

.featuring-text img{
    display: none; 
 } 
 /* nature-product */
.nature-products{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    background-color: black;
    height: 500px;
   
}

.nature-products-card{
    height: 420px;
    width: 645px;
    background-color: hwb(0 22% 78%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nature-card-image img{
    height: 416px;
    width: 300px;
    margin-right: -20px;
   
}

.nature-card-text{
    padding: 20px;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hwb(0 22% 78%);
}

.nature-card-text h1{
    font-size: 30px;
    font-weight: 300;
    color: white;
}

.nature-card-text p{
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
}

.nature-card-text h3{
    margin-bottom: 10px;
    color: grey;
}
.nature-product-image img{
    width: 270px;
    height: 410px;

}
.learn-link{
font-size: 14px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #fff;
}
/* community */
.community{
    background-color: black;
    color: #fff;
    padding: 50px;
    height: 120vh;
}

.community h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.community h1{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}

.community h1 a{
    text-decoration: none;
    color: red;
    font-weight: 400;
}


.community-box{
    display: flex;
    flex-wrap: wrap;
}

.community-image {
    padding: 10px;
    height: 300px;
}

.community-image img{
    height: 400px;
}

.community-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.community-text  p{
    font-size: 14px;
    margin-top: 200px;
    color: white;
}
.community-text p a{
    color: white;
  
 
  
}

.learn-link{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;

}

.community-text img{
    display: none;
}
/* power-section */
.power-section{
    background-color:white;
    color: black;
    padding: 50px;
    width: 100%;
}
.section{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(248, 237, 237);
    padding: 10px 15px;
    }
   
.section2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(248, 237, 237);
    padding: 10px 15px;
}  

.section h4 span{
    color: red;
}

.main-section{
    display: flex;
    justify-content: space-between;
}
.power-text-section{
    width: 50%;
}
.power-text-section h1{
    margin-top: 30px;
    font-weight: 400;
    font-size: 50px;
    
}
.power-text-section p{
    margin-top: 150px;
}
.power-text-section a{
    color: black;
    margin-top: 40px;
    border-bottom: 1px solid black;

}
.learn-link{
    margin-top: 15px;
}
.power-image-section{
    width: 80%;
}
.power-image-section img{
    width: 770px;
    margin-top: 20px;
    
}
/* shoy-section */
.shot-section
{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    height: 90v;
    
}
.shot-section-container{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    
}
.shot-section-card h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.shot-section-card p{
    font-size: 14px;
}
.shot-section-card a{
    font-size: 14px;
    color: black;
   
}
.section-thumb{
    background-color: #F8F8F8;
    height: 300px;
    background-position: center;
    background-size: cover;
    transition: all ease-in-out 0.3s;
   
}
 .main-section.power-text-section .learn-link{
    border-bottom: 1px solid black;
  margin-top: 20px;
}

#ONE_PRO{
    background-image: url(./images/img16.webp);
}
#TWO_PRO{
    background-image: url(./images/img17.webp);
} 
#TV_PRO{
    background-image: url(./images/img18.webp);
} 
/* Helpdesk  */
 .helpdesk-container{
   
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(251, 253, 253);
    height: 90vh;
    padding: 15px 30px;

}

hr{
    width: 80%;
}
.helpdesk-products-card{
    height: 440px;
    
   
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 10px;

}

.helpdesk-card-text{
    background-color: #fdfafa;
    width: 300px;
    height: 420px;
    padding: 20px 20px;
}

.helpdesk-card-text h1{
    font-size: 30px;
    font-weight: 300;
    color: black;
    margin-bottom: 100px;
   
   
}

.helpdesk-card-text p{
    font-size: 14px;
    margin-bottom: 20px;
    color:black;
}

.helpdesk-card-text h3{
 
    color: grey;
}

.helpdesk-card-image img{
    width: 300px;
    height: 420px;

}
.learn-link{
    border-bottom: 1px solid black;
    padding-top: 60px;
    color: black;
}
/* shop */
.shop-section{
    
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
.container{
    background-color: black;
    height: 70vh;
}
.head{
    font-size: 10px;
    font-weight: 10px;
    color:white;
    

}
.head h1{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 23px;
}
/* .shop-section */
.shop-text-section h1{
    font-size: 25px;
    padding-left: 10px;
}
.shop-text-section p{
    font-size: 12px;
    padding-top: 20px;
    padding-left: 10px;
    color: gray;

}
.line {
    background-color: rgb(182, 175, 175);
    width: 95%;
    height: 1px;
    margin-left: 2em;
    margin-top: 2px;
}
.shop-card{
    height: 300px;
    width: 615px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F8F8F8;
    background-image: url(./images/img21.webp);
    background-image: center;
    background-size: cover;
    object-fit: cover;
}
.shop{
    height: 300px;
    width: 615px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f0f0;
    background-image: url(./images/img22.jpg);
    background-image: center;
    background-size: cover;
    object-fit: cover;
}


.shop-text-section{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
} 

.shop-section .shop-card .shop-text-section .buy-btn{
    width: 80%;
    color: #fff;
    background: none;
    height: 40px;
    border: 1px solid rgb(118, 109, 109);

}
.shop .shop-text-section .buy-btn{
    width: 80%;
    color: #fff;
    background: none;
    height: 40px;
    border: 1px solid rgb(118, 109, 109);

}
.content{
    width: 100%;
    display: flex;
    margin-left: 30px;
}
.view{
    margin-left: 1000px;
}
.table{
    display: flex;
   flex-direction: row;
   align-items: center;
   height:30vh;
   padding: 100px;
}
.table button i{
    padding-left: 15px;
padding-top:  3px;
}
 .table button{
    width: 25%;
    height: 70px;
    text-align: left;
    font-size: 20px;
    background-color: #fff;
    padding-left: 10px;
    border: 1px solid gray;
 }
 
   
  
   

 .new-product .new-product-text .buy-btn{
    width: 210px;
    height: 40px;
    background-color: rgb(15, 14, 14);
    border: white;
    color:gray;
    font-size: 16px;
}
.new-product .new-product-text .learn-btn{
width: 210px;
height: 40px;
font-size: 13px;
font-weight: 600;
color: black;
background-color: #fff;
border-radius: 3px;
border: 1px solid black;
transition: all ease-in-out 0.3s;
}
/* last-section */


.last{
    height: 80vh;
    background-color: #fff;
    color: gray;
    justify-content: space-between; 
}

.last-section{
    width: 100%;
   background-color: #E8EAED;
  
}
.last{
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    width: 100%;
   padding-left: 50px;
   padding-right: 50px;
    color: #2f2f2f;
    padding-top: 30px;
  

   
}
.last ul{
    width: 20%;
    display: block;
  
}
.last ul li{
    margin-bottom: 20px;
    color: gray;
}
.last ul li:first-child{
    color: black;
font-weight: 500;
}
/* credit-card */
.credit-card{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0; 
}
.credit-card ul{
    display: flex;
margin-top: 0;

}
.credit-card ul li{
    margin-right:50px ;
  
}
.credit-card ul a:first-child{
    color: rgb(33, 33, 210);
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;

}
.credit-card ul a i{
    font-size: 26px;
    color: #2f2f2f;
    margin-left: 40px;
}
.border{
    border-bottom: 2px solid rgb(202, 192, 192);
    padding-bottom: 8px;
}
/* footer */
.footer {
    padding: 20px 40px;
    height: 18vh;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
}

.footer .f-1 {
    display: flex;
    justify-content: space-between;
}
.footer .f-1 p {
    font-size: 16px;
  
}
.footer .f-1 ul {
    display: flex;
    list-style: none;
    font-size: 13px;
}
.footer .f-1 ul li {
    margin-left: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.24);
    padding-right: 20px;
   
}
.footer .f-2 {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.footer .f-2 span p {
    color: rgb(0, 0, 0, 0.6);
    font-size: 14px;
   
    margin-bottom: 10px;
}
.footer .f-2 img {
    height: 43px;
}




/* }@media(max-width : 768px){

    .primary-links , .secondary-links{
        display: none;
    }

    #menu,#cart{
        display: block;
    }

    nav span{
        display: flex;
        justify-content: center;
    }

    .hero{
        background-position: 50%;
    }

    .new-product-image{
        display: none;
    }

    .new-product-text{
        width: 100%;
    }

    .new-product-text img{
        display: block;
        height: 220px;
    }

    .trending-products{
        padding: 20px;
        justify-content: center;
    }

    .trending-card{
        margin-bottom: 20px;
        height: auto;
    }

    .trending-card img{
        height: 200px;
    }

    .hot-picks-categories{
        flex-wrap: wrap;
        justify-content: center;
    }

    .hot-products-container{
        justify-content: center;
    }

} */